<div class="container">

  <mat-card>
    <mat-card-title>Initial Values</mat-card-title>
    <mat-card-content>
      <div class="details-items">
        <div class="details-item">
          <label>Wage</label>
          <p>xxxx</p>
       </div>

       <div class="details-item">
         <label>Food Voucher</label>
         <p>xxxx</p>
      </div>

      <div class="details-item">
       <label>Fixed Cost</label>
       <p>xxxx</p>
    </div>

    <div class="details-item">
     <label>Wage</label>
     <p>xxxx</p>
  </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Final Values</mat-card-title>
    <mat-card-content>
      <div class="details-items">
        <div class="details-item">
        <label>After Fixed Cost</label>
        <p>xxxx</p>
     </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
