.content{
  padding-left:15px;
  .title{
    text-align: center;
    font-size:20px;
    font-weight: 500;
    margin-bottom:15px;
    margin-top:10px;
  }
  .table {
    .options {
      margin-bottom:15px;
    }
  }
  .total-cost {
    box-shadow: 5px 5px 15px -3px #919191;
    height: 50px;
    width:170px;
    .item {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      p {
        margin-bottom: 0;
        margin-left:5px;
      }
    }
  }

}
